<h1>Congratulations on logging in via LinkedIn!</h1>
<p>You are <strong><%= "#{@profile.first_name} #{@profile.last_name}" %></strong>
<p>Your headline is currently: <strong><%= "#{@profile.headline}" %></strong>
